<body class="bg-dark">
<%- include('partials/logged-in-header') -%>
<div class="mt-5 ">
  <div class="container card-container mb-5">
    <h1 class="d-flex justify-content-center m-5 text-light">Feed</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="col">
      <div class="card h-100">
        
          <!-- <li class="col-6 justify-content-between mt-5"> -->
          <!--   <div  class="card" > -->
            <a class='text-dark card-body bg-danger' href="/post/<%= posts[i]._id%>">
              <h4 class="card-title text-center" src=""><b><%= posts[i].songName%></b></h4>
              <h5 class="card-text text-center" src=""><%= posts[i].bandName%></h5>
              <!-- <p><strong>User Name</strong>: <%= posts[i].user %></p> -->
              
                <!-- <h4 class="col" src=""><%= posts[i].user%></h4> -->
            </a>
           <!--  (posts.user == user.id){  -->
        
      </div>
          </div>
        <% } %>
        <!-- </div> -->
      </div>
    </div>
  </div>  
  <div class="m-5 p-5">

  </div>

<%- include('partials/footer') -%>
</body>
